﻿@using Microsoft.AspNetCore.Identity
@model IdentityRole
<h3>You are about to delete the role "@Model.Name"</h3>
<h6>This action can't be undone</h6>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" asp-action="ConfirmDelete" asp-route-id="@Model.Id" class="mt-3">
    <div>
    <button type="submit" class="btn btn-danger"> Delete</button>

        <a asp-action="ListAllRoles" class="btn btn-warning"> Cancel</a>
    </div>
</form>