@{
    ViewData["Title"] = "About Us";
}


<!-- about section -->

<section class="about_section layout_padding">
    <div class="container ">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About Our Bookstore
                        </h2>
                    </div>
                    <p>
                        Discover a world of literary wonders at Naila Book Store. We are passionate about connecting readers with captivating stories, timeless classics, and the latest bestsellers. Our carefully curated collection caters to diverse tastes, ensuring there's something for every book lover.
                    </p>
                    <p>
                        At Naila Book Store, we believe in the power of storytelling to inspire, entertain, and enrich lives. Our mission is to provide a welcoming space where readers can explore new worlds, learn, and find joy in the pages of a good book.
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
