@{
    ViewData["Title"] = "Blog";
}

<!-- blog section -->

<section class="blog_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                From Our Blog
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="img-box">
                        <img src="/images/b1.jpg" alt="">
                        <h4 class="blog_date">
                            <span>
                                16 February 2023
                            </span>
                        </h4>
                    </div>
                    <div class="detail-box">
                        <h5>
                            Uncover Hidden Gems: A Journey into Mystery Novels
                        </h5>
                        <p>
                            Dive into the intriguing world of mystery novels. Discover hidden gems and thrilling plots that will keep you on the edge of your seat. Join us on a journey through suspense and excitement.
                        </p>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="img-box">
                        <img src="/images/b2.jpg" alt="">
                        <h4 class="blog_date">
                            <span>
                                16 February 2023
                            </span>
                        </h4>
                    </div>
                    <div class="detail-box">
                        <h5>
                            Embrace Adventure: Exploring the World of Fantasy Literature

                        </h5>
                        <p>
                          Our latest blog takes you on a journey through fantasy literature, where imagination knows no bounds. Embark on a quest filled with wonder and enchantment.
                        </p>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>